# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary files
*.tmp

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry
poetry.lock
.pipfile
.pipfile.lock

# macOS
.DS_Store

# PyCharm
.idea/

# VS Code
.vscode/

# Spyder
.spyderproject
.spyproject

# Jupyter Notebook
.ipynb_checkpoints

# Pyenv
.python-version

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml

# Profiling data
.prof

# Unit test / coverage reports
.tox/
.nox/
*.cover
.hypothesis/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace

# Test logs
test-results/

# CatBoost specific
catboost_info/

# Ruff linter cache
.ruff_cache/
